// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #01295F;
$offwhite: #EEEEEE;
$red: #FD151B;
$yellow: #FFB30F;
$green: #849324;
