// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$body-bg: #F8F1F1;
$body-secondary: #DEE2E6;
$primary: #5EAAA8;
$secondary: #A3D2CA;
$alert: #FFB30F;
$danger: #dc3545;
$text-color: #0E1B1A;
